.fs-call-strip__button {
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 2.5em !important;
  border-radius: 10px;
  font-family: "tradegothicltcom-bdcn20", sans-serif;
  text-decoration: underline;
  color: #FFF;
}
.fs-call-strip__button:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.fs-call-strip__button {
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 2.5em !important;
  border-radius: 10px;
  font-family: "tradegothicltcom-bdcn20", sans-serif;
  text-decoration: underline;
  color: #FFF;
}
.fs-call-strip__button:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.banner--fs-home {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/2X-homebannerConcur-1x.jpg");
  min-height: 500px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--fs-home {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/2X-homebannerConcur-2x.jpg");
  }
}
.banner--fs-home--aspect-source {
  height: calc(100vw * (1000 / 3200));
}
.banner--fs-home__text-box--wrapper {
  position: relative;
  bottom: -36px;
  width: 100%;
  padding: 2em;
  margin: 4em 0 0;
}
@media only screen and (min-width: 800px) {
  .banner--fs-home__text-box--wrapper {
    max-width: 775px;
  }
}

.fs-home__text-box__title {
  font-weight: 900;
}
.fs-home__text-box__text p {
  line-height: 1.2;
}
.fs-home__text-box__button {
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 2em !important;
  border-radius: 10px;
  font-family: "tradegothiclt-bold", sans-serif;
}

.main-content__departments__title {
  text-align: center;
  padding: 1em 0;
}

.departments-nav__link-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  grid-column-gap: 15px;
  grid-row-gap: 2.5em;
  justify-content: center;
  margin: 0 auto;
  list-style-type: none !important;
}
.departments-nav__link-grid__item {
  background-color: #ece9ef;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
  text-decoration: none !important;
}
.departments-nav__link-grid__hover-pane {
  padding: 10px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
  background-color: rgba(73, 35, 101, 0);
  transition: background-color 0.3s ease;
}
.departments-nav__link-grid__hover-pane:hover {
  background-color: rgba(73, 35, 101, 0.5);
}
.departments-nav__link-grid__accounting {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-accounting-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__accounting {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-accounting-2x.jpg");
  }
}
.departments-nav__link-grid__budget {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-budget-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__budget {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-budget-2x.jpg");
  }
}
.departments-nav__link-grid__bursar {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-bursar-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__bursar {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-bursar-2x.jpg");
  }
}
.departments-nav__link-grid__events {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-eventsfacilities-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__events {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-eventsfacilities-2x.jpg");
  }
}
.departments-nav__link-grid__fsit {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-FSIT-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__fsit {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-FSIT-2x.jpg");
  }
}
.departments-nav__link-grid__institutional-research {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-institutionalresearch-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__institutional-research {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-institutionalresearch-2x.jpg");
  }
}
.departments-nav__link-grid__mail-center {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-mailservices-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__mail-center {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-mailservices-2x.jpg");
  }
}
.departments-nav__link-grid__parking {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-parking-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__parking {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-parking-2x.jpg");
  }
}
.departments-nav__link-grid__payroll {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-accounting-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__payroll {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-accounting-2x.jpg");
  }
}
.departments-nav__link-grid__property-control {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-propertycontrol-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__property-control {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-propertycontrol-2x.jpg");
  }
}
.departments-nav__link-grid__purchasing {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-purchasing-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__purchasing {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-purchasing-2x.jpg");
  }
}
.departments-nav__link-grid__risk-management {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-riskmanagement-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__risk-management {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-riskmanagement-2x.jpg");
  }
}
.departments-nav__link-grid__printing {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-DesignPrint-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__printing {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-DesignPrint-2x.jpg");
  }
}
.departments-nav__link-grid__copy-center {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-copycenter-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__copy-center {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-copycenter-2x.jpg");
  }
}
.departments-nav__link-grid__wildcat-store {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-wildcatstore-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__wildcat-store {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-wildcatstore-2x.jpg");
  }
}
.departments-nav__link-grid__shipping {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-shippingreceiving-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .departments-nav__link-grid__shipping {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/home/fs-grid-menu-bg-shippingreceiving-2x.jpg");
  }
}
.departments-nav a.departments-nav__link {
  text-align: left;
  color: #FFF;
  width: 100%;
  align-self: stretch;
  height: 100%;
  text-decoration: none;
  line-height: 1.1;
  font-size: 2em;
  font-family: "tradegothicltcom-bdcn20", sans-serif;
  text-shadow: 2px 2px 3px #1f1c19;
}
.departments-nav a.departments-nav__link:hover, .departments-nav a.departments-nav__link:visited {
  color: #FFF !important;
}

.frequent-searches__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 2.5em;
  justify-content: center;
  margin: 0 auto;
}
.fs-direc-link {
  text-align: center;
  font-size: 1.2em;
  margin: 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fs-direc-btn {
  margin-bottom: 0;
}
.fs-direc-btn a {
  display: flex;
  flex-direction: column;
  font-family: tradegothiclt-bold, sans-serif;
  text-decoration: none !important;
  color: #492365 !important;
  text-transform: uppercase;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.59, 0.92);
}
.fs-direc-btn a:hover {
  transform: scale(1.1);
}
.fs-direc-btn__icon {
  width: 150px;
}

.fs-direc-anchor {
  font-family: tradegothiclt-bold, sans-serif;
  text-decoration: none !important;
  color: #492365 !important;
  text-transform: uppercase;
}

.fs-call-strip {
  padding: 1em 1.5em;
  margin: 2vw;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 8px 2px #1f1c194f;
}
.fs-call-strip__subtitle {
  font-family: "tradegothiclt", sans-serif;
  color: #492365;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: left;
  margin: 0;
}
.fs-call-strip__button {
  margin: 0;
}

.banner--fs-about {
  background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/about/about-sf-banner-1x.jpg");
  min-height: 500px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--fs-about {
    background-image: url("https://www.weber.edu/wsuimages/financialservices/new-site/images/about/about-sf-banner-2x.jpg");
  }
}
.banner--fs-about--aspect-source {
  height: calc(100vw * (1000 / 3200));
}

.contact-strip {
  background-color: #f3f3f3;
}
.contact-strip__cell {
  padding: 0 20px;
  border-right: 1px solid black;
}
.contact-strip h2.contact-strip__title {
  text-align: center;
  margin-bottom: 20px !important;
}

.card-personnel__content--dark > * a, .fancy-link-white {
  color: #FFF !important;
  border-bottom: 1px solid #FFF;
  text-decoration: none !important;
}
.card-personnel__content--dark > * a:hover, .card-personnel__content--dark > * a:focus, .fancy-link-white:hover, .fancy-link-white:focus {
  border-bottom: 3px solid #FFF !important;
  font-weight: bold;
}
