main .flex-grid {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
main .flex-grid > .col,
main .flex-grid > li {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
}
main .flex-grid > .col > div,
main .flex-grid > li > div {
  flex: 1 1 auto;
}
main .flex-grid > li > hr {
  width: 100%;
}
main .flex-grid.grow > .col,
main .flex-grid.grow > li {
  flex-grow: 1 !important;
}
@media only screen and (min-width: 0em) {
  main .flex-grid > .col,
main .flex-grid > li {
    padding: 10px;
  }
  main .flex-grid.sm-1 > .col,
main .flex-grid.sm-1 > li {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  main .flex-grid.sm-1 > .col.sm-span-1,
main .flex-grid.sm-1 > li.sm-span-1 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-2 > .col,
main .flex-grid.sm-2 > li {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  main .flex-grid.sm-2 > .col.sm-span-1,
main .flex-grid.sm-2 > li.sm-span-1 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.sm-2 > .col.sm-span-2,
main .flex-grid.sm-2 > li.sm-span-2 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-3 > .col,
main .flex-grid.sm-3 > li {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  main .flex-grid.sm-3 > .col.sm-span-1,
main .flex-grid.sm-3 > li.sm-span-1 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.sm-3 > .col.sm-span-2,
main .flex-grid.sm-3 > li.sm-span-2 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.sm-3 > .col.sm-span-3,
main .flex-grid.sm-3 > li.sm-span-3 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-4 > .col,
main .flex-grid.sm-4 > li {
    flex: 0 0 25%;
    width: 25%;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  main .flex-grid.sm-4 > .col.sm-span-1,
main .flex-grid.sm-4 > li.sm-span-1 {
    flex: 0 0 25%;
    width: 25%;
  }
  main .flex-grid.sm-4 > .col.sm-span-2,
main .flex-grid.sm-4 > li.sm-span-2 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.sm-4 > .col.sm-span-3,
main .flex-grid.sm-4 > li.sm-span-3 {
    flex: 0 0 75%;
    width: 75%;
  }
  main .flex-grid.sm-4 > .col.sm-span-4,
main .flex-grid.sm-4 > li.sm-span-4 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-5 > .col,
main .flex-grid.sm-5 > li {
    flex: 0 0 20%;
    width: 20%;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  main .flex-grid.sm-5 > .col.sm-span-1,
main .flex-grid.sm-5 > li.sm-span-1 {
    flex: 0 0 20%;
    width: 20%;
  }
  main .flex-grid.sm-5 > .col.sm-span-2,
main .flex-grid.sm-5 > li.sm-span-2 {
    flex: 0 0 40%;
    width: 40%;
  }
  main .flex-grid.sm-5 > .col.sm-span-3,
main .flex-grid.sm-5 > li.sm-span-3 {
    flex: 0 0 60%;
    width: 60%;
  }
  main .flex-grid.sm-5 > .col.sm-span-4,
main .flex-grid.sm-5 > li.sm-span-4 {
    flex: 0 0 80%;
    width: 80%;
  }
  main .flex-grid.sm-5 > .col.sm-span-5,
main .flex-grid.sm-5 > li.sm-span-5 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-6 > .col,
main .flex-grid.sm-6 > li {
    flex: 0 0 16.6666666667%;
    width: 16.6666666667%;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  main .flex-grid.sm-6 > .col.sm-span-1,
main .flex-grid.sm-6 > li.sm-span-1 {
    flex: 0 0 16.6666666667%;
    width: 16.6666666667%;
  }
  main .flex-grid.sm-6 > .col.sm-span-2,
main .flex-grid.sm-6 > li.sm-span-2 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.sm-6 > .col.sm-span-3,
main .flex-grid.sm-6 > li.sm-span-3 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.sm-6 > .col.sm-span-4,
main .flex-grid.sm-6 > li.sm-span-4 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.sm-6 > .col.sm-span-5,
main .flex-grid.sm-6 > li.sm-span-5 {
    flex: 0 0 83.3333333333%;
    width: 83.3333333333%;
  }
  main .flex-grid.sm-6 > .col.sm-span-6,
main .flex-grid.sm-6 > li.sm-span-6 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-7 > .col,
main .flex-grid.sm-7 > li {
    flex: 0 0 14.2857142857%;
    width: 14.2857142857%;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  main .flex-grid.sm-7 > .col.sm-span-1,
main .flex-grid.sm-7 > li.sm-span-1 {
    flex: 0 0 14.2857142857%;
    width: 14.2857142857%;
  }
  main .flex-grid.sm-7 > .col.sm-span-2,
main .flex-grid.sm-7 > li.sm-span-2 {
    flex: 0 0 28.5714285714%;
    width: 28.5714285714%;
  }
  main .flex-grid.sm-7 > .col.sm-span-3,
main .flex-grid.sm-7 > li.sm-span-3 {
    flex: 0 0 42.8571428571%;
    width: 42.8571428571%;
  }
  main .flex-grid.sm-7 > .col.sm-span-4,
main .flex-grid.sm-7 > li.sm-span-4 {
    flex: 0 0 57.1428571429%;
    width: 57.1428571429%;
  }
  main .flex-grid.sm-7 > .col.sm-span-5,
main .flex-grid.sm-7 > li.sm-span-5 {
    flex: 0 0 71.4285714286%;
    width: 71.4285714286%;
  }
  main .flex-grid.sm-7 > .col.sm-span-6,
main .flex-grid.sm-7 > li.sm-span-6 {
    flex: 0 0 85.7142857143%;
    width: 85.7142857143%;
  }
  main .flex-grid.sm-7 > .col.sm-span-7,
main .flex-grid.sm-7 > li.sm-span-7 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-8 > .col,
main .flex-grid.sm-8 > li {
    flex: 0 0 12.5%;
    width: 12.5%;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  main .flex-grid.sm-8 > .col.sm-span-1,
main .flex-grid.sm-8 > li.sm-span-1 {
    flex: 0 0 12.5%;
    width: 12.5%;
  }
  main .flex-grid.sm-8 > .col.sm-span-2,
main .flex-grid.sm-8 > li.sm-span-2 {
    flex: 0 0 25%;
    width: 25%;
  }
  main .flex-grid.sm-8 > .col.sm-span-3,
main .flex-grid.sm-8 > li.sm-span-3 {
    flex: 0 0 37.5%;
    width: 37.5%;
  }
  main .flex-grid.sm-8 > .col.sm-span-4,
main .flex-grid.sm-8 > li.sm-span-4 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.sm-8 > .col.sm-span-5,
main .flex-grid.sm-8 > li.sm-span-5 {
    flex: 0 0 62.5%;
    width: 62.5%;
  }
  main .flex-grid.sm-8 > .col.sm-span-6,
main .flex-grid.sm-8 > li.sm-span-6 {
    flex: 0 0 75%;
    width: 75%;
  }
  main .flex-grid.sm-8 > .col.sm-span-7,
main .flex-grid.sm-8 > li.sm-span-7 {
    flex: 0 0 87.5%;
    width: 87.5%;
  }
  main .flex-grid.sm-8 > .col.sm-span-8,
main .flex-grid.sm-8 > li.sm-span-8 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-9 > .col,
main .flex-grid.sm-9 > li {
    flex: 0 0 11.1111111111%;
    width: 11.1111111111%;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  main .flex-grid.sm-9 > .col.sm-span-1,
main .flex-grid.sm-9 > li.sm-span-1 {
    flex: 0 0 11.1111111111%;
    width: 11.1111111111%;
  }
  main .flex-grid.sm-9 > .col.sm-span-2,
main .flex-grid.sm-9 > li.sm-span-2 {
    flex: 0 0 22.2222222222%;
    width: 22.2222222222%;
  }
  main .flex-grid.sm-9 > .col.sm-span-3,
main .flex-grid.sm-9 > li.sm-span-3 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.sm-9 > .col.sm-span-4,
main .flex-grid.sm-9 > li.sm-span-4 {
    flex: 0 0 44.4444444444%;
    width: 44.4444444444%;
  }
  main .flex-grid.sm-9 > .col.sm-span-5,
main .flex-grid.sm-9 > li.sm-span-5 {
    flex: 0 0 55.5555555556%;
    width: 55.5555555556%;
  }
  main .flex-grid.sm-9 > .col.sm-span-6,
main .flex-grid.sm-9 > li.sm-span-6 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.sm-9 > .col.sm-span-7,
main .flex-grid.sm-9 > li.sm-span-7 {
    flex: 0 0 77.7777777778%;
    width: 77.7777777778%;
  }
  main .flex-grid.sm-9 > .col.sm-span-8,
main .flex-grid.sm-9 > li.sm-span-8 {
    flex: 0 0 88.8888888889%;
    width: 88.8888888889%;
  }
  main .flex-grid.sm-9 > .col.sm-span-9,
main .flex-grid.sm-9 > li.sm-span-9 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-10 > .col,
main .flex-grid.sm-10 > li {
    flex: 0 0 10%;
    width: 10%;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  main .flex-grid.sm-10 > .col.sm-span-1,
main .flex-grid.sm-10 > li.sm-span-1 {
    flex: 0 0 10%;
    width: 10%;
  }
  main .flex-grid.sm-10 > .col.sm-span-2,
main .flex-grid.sm-10 > li.sm-span-2 {
    flex: 0 0 20%;
    width: 20%;
  }
  main .flex-grid.sm-10 > .col.sm-span-3,
main .flex-grid.sm-10 > li.sm-span-3 {
    flex: 0 0 30%;
    width: 30%;
  }
  main .flex-grid.sm-10 > .col.sm-span-4,
main .flex-grid.sm-10 > li.sm-span-4 {
    flex: 0 0 40%;
    width: 40%;
  }
  main .flex-grid.sm-10 > .col.sm-span-5,
main .flex-grid.sm-10 > li.sm-span-5 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.sm-10 > .col.sm-span-6,
main .flex-grid.sm-10 > li.sm-span-6 {
    flex: 0 0 60%;
    width: 60%;
  }
  main .flex-grid.sm-10 > .col.sm-span-7,
main .flex-grid.sm-10 > li.sm-span-7 {
    flex: 0 0 70%;
    width: 70%;
  }
  main .flex-grid.sm-10 > .col.sm-span-8,
main .flex-grid.sm-10 > li.sm-span-8 {
    flex: 0 0 80%;
    width: 80%;
  }
  main .flex-grid.sm-10 > .col.sm-span-9,
main .flex-grid.sm-10 > li.sm-span-9 {
    flex: 0 0 90%;
    width: 90%;
  }
  main .flex-grid.sm-10 > .col.sm-span-10,
main .flex-grid.sm-10 > li.sm-span-10 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-centered {
    justify-content: center;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-uncentered {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-collapse > .col,
main .flex-grid.sm-collapse > li {
    padding: 0;
  }
}
@media only screen and (min-width: 0em) {
  main .flex-grid.sm-uncollapse > .col,
main .flex-grid.sm-uncollapse > li {
    padding: 10px;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid > .col,
main .flex-grid > li {
    padding: 15px;
  }
  main .flex-grid.med-1 > .col,
main .flex-grid.med-1 > li {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 64em) {
  main .flex-grid.med-1 > .col.med-span-1,
main .flex-grid.med-1 > li.med-span-1 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-2 > .col,
main .flex-grid.med-2 > li {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 64em) {
  main .flex-grid.med-2 > .col.med-span-1,
main .flex-grid.med-2 > li.med-span-1 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.med-2 > .col.med-span-2,
main .flex-grid.med-2 > li.med-span-2 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-3 > .col,
main .flex-grid.med-3 > li {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 64em) {
  main .flex-grid.med-3 > .col.med-span-1,
main .flex-grid.med-3 > li.med-span-1 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.med-3 > .col.med-span-2,
main .flex-grid.med-3 > li.med-span-2 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.med-3 > .col.med-span-3,
main .flex-grid.med-3 > li.med-span-3 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-4 > .col,
main .flex-grid.med-4 > li {
    flex: 0 0 25%;
    width: 25%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 64em) {
  main .flex-grid.med-4 > .col.med-span-1,
main .flex-grid.med-4 > li.med-span-1 {
    flex: 0 0 25%;
    width: 25%;
  }
  main .flex-grid.med-4 > .col.med-span-2,
main .flex-grid.med-4 > li.med-span-2 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.med-4 > .col.med-span-3,
main .flex-grid.med-4 > li.med-span-3 {
    flex: 0 0 75%;
    width: 75%;
  }
  main .flex-grid.med-4 > .col.med-span-4,
main .flex-grid.med-4 > li.med-span-4 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-5 > .col,
main .flex-grid.med-5 > li {
    flex: 0 0 20%;
    width: 20%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 64em) {
  main .flex-grid.med-5 > .col.med-span-1,
main .flex-grid.med-5 > li.med-span-1 {
    flex: 0 0 20%;
    width: 20%;
  }
  main .flex-grid.med-5 > .col.med-span-2,
main .flex-grid.med-5 > li.med-span-2 {
    flex: 0 0 40%;
    width: 40%;
  }
  main .flex-grid.med-5 > .col.med-span-3,
main .flex-grid.med-5 > li.med-span-3 {
    flex: 0 0 60%;
    width: 60%;
  }
  main .flex-grid.med-5 > .col.med-span-4,
main .flex-grid.med-5 > li.med-span-4 {
    flex: 0 0 80%;
    width: 80%;
  }
  main .flex-grid.med-5 > .col.med-span-5,
main .flex-grid.med-5 > li.med-span-5 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-6 > .col,
main .flex-grid.med-6 > li {
    flex: 0 0 16.6666666667%;
    width: 16.6666666667%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 64em) {
  main .flex-grid.med-6 > .col.med-span-1,
main .flex-grid.med-6 > li.med-span-1 {
    flex: 0 0 16.6666666667%;
    width: 16.6666666667%;
  }
  main .flex-grid.med-6 > .col.med-span-2,
main .flex-grid.med-6 > li.med-span-2 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.med-6 > .col.med-span-3,
main .flex-grid.med-6 > li.med-span-3 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.med-6 > .col.med-span-4,
main .flex-grid.med-6 > li.med-span-4 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.med-6 > .col.med-span-5,
main .flex-grid.med-6 > li.med-span-5 {
    flex: 0 0 83.3333333333%;
    width: 83.3333333333%;
  }
  main .flex-grid.med-6 > .col.med-span-6,
main .flex-grid.med-6 > li.med-span-6 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-7 > .col,
main .flex-grid.med-7 > li {
    flex: 0 0 14.2857142857%;
    width: 14.2857142857%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 64em) {
  main .flex-grid.med-7 > .col.med-span-1,
main .flex-grid.med-7 > li.med-span-1 {
    flex: 0 0 14.2857142857%;
    width: 14.2857142857%;
  }
  main .flex-grid.med-7 > .col.med-span-2,
main .flex-grid.med-7 > li.med-span-2 {
    flex: 0 0 28.5714285714%;
    width: 28.5714285714%;
  }
  main .flex-grid.med-7 > .col.med-span-3,
main .flex-grid.med-7 > li.med-span-3 {
    flex: 0 0 42.8571428571%;
    width: 42.8571428571%;
  }
  main .flex-grid.med-7 > .col.med-span-4,
main .flex-grid.med-7 > li.med-span-4 {
    flex: 0 0 57.1428571429%;
    width: 57.1428571429%;
  }
  main .flex-grid.med-7 > .col.med-span-5,
main .flex-grid.med-7 > li.med-span-5 {
    flex: 0 0 71.4285714286%;
    width: 71.4285714286%;
  }
  main .flex-grid.med-7 > .col.med-span-6,
main .flex-grid.med-7 > li.med-span-6 {
    flex: 0 0 85.7142857143%;
    width: 85.7142857143%;
  }
  main .flex-grid.med-7 > .col.med-span-7,
main .flex-grid.med-7 > li.med-span-7 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-8 > .col,
main .flex-grid.med-8 > li {
    flex: 0 0 12.5%;
    width: 12.5%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 64em) {
  main .flex-grid.med-8 > .col.med-span-1,
main .flex-grid.med-8 > li.med-span-1 {
    flex: 0 0 12.5%;
    width: 12.5%;
  }
  main .flex-grid.med-8 > .col.med-span-2,
main .flex-grid.med-8 > li.med-span-2 {
    flex: 0 0 25%;
    width: 25%;
  }
  main .flex-grid.med-8 > .col.med-span-3,
main .flex-grid.med-8 > li.med-span-3 {
    flex: 0 0 37.5%;
    width: 37.5%;
  }
  main .flex-grid.med-8 > .col.med-span-4,
main .flex-grid.med-8 > li.med-span-4 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.med-8 > .col.med-span-5,
main .flex-grid.med-8 > li.med-span-5 {
    flex: 0 0 62.5%;
    width: 62.5%;
  }
  main .flex-grid.med-8 > .col.med-span-6,
main .flex-grid.med-8 > li.med-span-6 {
    flex: 0 0 75%;
    width: 75%;
  }
  main .flex-grid.med-8 > .col.med-span-7,
main .flex-grid.med-8 > li.med-span-7 {
    flex: 0 0 87.5%;
    width: 87.5%;
  }
  main .flex-grid.med-8 > .col.med-span-8,
main .flex-grid.med-8 > li.med-span-8 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-9 > .col,
main .flex-grid.med-9 > li {
    flex: 0 0 11.1111111111%;
    width: 11.1111111111%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 64em) {
  main .flex-grid.med-9 > .col.med-span-1,
main .flex-grid.med-9 > li.med-span-1 {
    flex: 0 0 11.1111111111%;
    width: 11.1111111111%;
  }
  main .flex-grid.med-9 > .col.med-span-2,
main .flex-grid.med-9 > li.med-span-2 {
    flex: 0 0 22.2222222222%;
    width: 22.2222222222%;
  }
  main .flex-grid.med-9 > .col.med-span-3,
main .flex-grid.med-9 > li.med-span-3 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.med-9 > .col.med-span-4,
main .flex-grid.med-9 > li.med-span-4 {
    flex: 0 0 44.4444444444%;
    width: 44.4444444444%;
  }
  main .flex-grid.med-9 > .col.med-span-5,
main .flex-grid.med-9 > li.med-span-5 {
    flex: 0 0 55.5555555556%;
    width: 55.5555555556%;
  }
  main .flex-grid.med-9 > .col.med-span-6,
main .flex-grid.med-9 > li.med-span-6 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.med-9 > .col.med-span-7,
main .flex-grid.med-9 > li.med-span-7 {
    flex: 0 0 77.7777777778%;
    width: 77.7777777778%;
  }
  main .flex-grid.med-9 > .col.med-span-8,
main .flex-grid.med-9 > li.med-span-8 {
    flex: 0 0 88.8888888889%;
    width: 88.8888888889%;
  }
  main .flex-grid.med-9 > .col.med-span-9,
main .flex-grid.med-9 > li.med-span-9 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-10 > .col,
main .flex-grid.med-10 > li {
    flex: 0 0 10%;
    width: 10%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 64em) {
  main .flex-grid.med-10 > .col.med-span-1,
main .flex-grid.med-10 > li.med-span-1 {
    flex: 0 0 10%;
    width: 10%;
  }
  main .flex-grid.med-10 > .col.med-span-2,
main .flex-grid.med-10 > li.med-span-2 {
    flex: 0 0 20%;
    width: 20%;
  }
  main .flex-grid.med-10 > .col.med-span-3,
main .flex-grid.med-10 > li.med-span-3 {
    flex: 0 0 30%;
    width: 30%;
  }
  main .flex-grid.med-10 > .col.med-span-4,
main .flex-grid.med-10 > li.med-span-4 {
    flex: 0 0 40%;
    width: 40%;
  }
  main .flex-grid.med-10 > .col.med-span-5,
main .flex-grid.med-10 > li.med-span-5 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.med-10 > .col.med-span-6,
main .flex-grid.med-10 > li.med-span-6 {
    flex: 0 0 60%;
    width: 60%;
  }
  main .flex-grid.med-10 > .col.med-span-7,
main .flex-grid.med-10 > li.med-span-7 {
    flex: 0 0 70%;
    width: 70%;
  }
  main .flex-grid.med-10 > .col.med-span-8,
main .flex-grid.med-10 > li.med-span-8 {
    flex: 0 0 80%;
    width: 80%;
  }
  main .flex-grid.med-10 > .col.med-span-9,
main .flex-grid.med-10 > li.med-span-9 {
    flex: 0 0 90%;
    width: 90%;
  }
  main .flex-grid.med-10 > .col.med-span-10,
main .flex-grid.med-10 > li.med-span-10 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-centered {
    justify-content: center;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-uncentered {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-collapse > .col,
main .flex-grid.med-collapse > li {
    padding: 0;
  }
}
@media only screen and (min-width: 30em) {
  main .flex-grid.med-uncollapse > .col,
main .flex-grid.med-uncollapse > li {
    padding: 15px;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid > .col,
main .flex-grid > li {
    padding: 15px;
  }
  main .flex-grid.lrg-1 > .col,
main .flex-grid.lrg-1 > li {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 90em) {
  main .flex-grid.lrg-1 > .col.lrg-span-1,
main .flex-grid.lrg-1 > li.lrg-span-1 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-2 > .col,
main .flex-grid.lrg-2 > li {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 90em) {
  main .flex-grid.lrg-2 > .col.lrg-span-1,
main .flex-grid.lrg-2 > li.lrg-span-1 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.lrg-2 > .col.lrg-span-2,
main .flex-grid.lrg-2 > li.lrg-span-2 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-3 > .col,
main .flex-grid.lrg-3 > li {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 90em) {
  main .flex-grid.lrg-3 > .col.lrg-span-1,
main .flex-grid.lrg-3 > li.lrg-span-1 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.lrg-3 > .col.lrg-span-2,
main .flex-grid.lrg-3 > li.lrg-span-2 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.lrg-3 > .col.lrg-span-3,
main .flex-grid.lrg-3 > li.lrg-span-3 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-4 > .col,
main .flex-grid.lrg-4 > li {
    flex: 0 0 25%;
    width: 25%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 90em) {
  main .flex-grid.lrg-4 > .col.lrg-span-1,
main .flex-grid.lrg-4 > li.lrg-span-1 {
    flex: 0 0 25%;
    width: 25%;
  }
  main .flex-grid.lrg-4 > .col.lrg-span-2,
main .flex-grid.lrg-4 > li.lrg-span-2 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.lrg-4 > .col.lrg-span-3,
main .flex-grid.lrg-4 > li.lrg-span-3 {
    flex: 0 0 75%;
    width: 75%;
  }
  main .flex-grid.lrg-4 > .col.lrg-span-4,
main .flex-grid.lrg-4 > li.lrg-span-4 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-5 > .col,
main .flex-grid.lrg-5 > li {
    flex: 0 0 20%;
    width: 20%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 90em) {
  main .flex-grid.lrg-5 > .col.lrg-span-1,
main .flex-grid.lrg-5 > li.lrg-span-1 {
    flex: 0 0 20%;
    width: 20%;
  }
  main .flex-grid.lrg-5 > .col.lrg-span-2,
main .flex-grid.lrg-5 > li.lrg-span-2 {
    flex: 0 0 40%;
    width: 40%;
  }
  main .flex-grid.lrg-5 > .col.lrg-span-3,
main .flex-grid.lrg-5 > li.lrg-span-3 {
    flex: 0 0 60%;
    width: 60%;
  }
  main .flex-grid.lrg-5 > .col.lrg-span-4,
main .flex-grid.lrg-5 > li.lrg-span-4 {
    flex: 0 0 80%;
    width: 80%;
  }
  main .flex-grid.lrg-5 > .col.lrg-span-5,
main .flex-grid.lrg-5 > li.lrg-span-5 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-6 > .col,
main .flex-grid.lrg-6 > li {
    flex: 0 0 16.6666666667%;
    width: 16.6666666667%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 90em) {
  main .flex-grid.lrg-6 > .col.lrg-span-1,
main .flex-grid.lrg-6 > li.lrg-span-1 {
    flex: 0 0 16.6666666667%;
    width: 16.6666666667%;
  }
  main .flex-grid.lrg-6 > .col.lrg-span-2,
main .flex-grid.lrg-6 > li.lrg-span-2 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.lrg-6 > .col.lrg-span-3,
main .flex-grid.lrg-6 > li.lrg-span-3 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.lrg-6 > .col.lrg-span-4,
main .flex-grid.lrg-6 > li.lrg-span-4 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.lrg-6 > .col.lrg-span-5,
main .flex-grid.lrg-6 > li.lrg-span-5 {
    flex: 0 0 83.3333333333%;
    width: 83.3333333333%;
  }
  main .flex-grid.lrg-6 > .col.lrg-span-6,
main .flex-grid.lrg-6 > li.lrg-span-6 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-7 > .col,
main .flex-grid.lrg-7 > li {
    flex: 0 0 14.2857142857%;
    width: 14.2857142857%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 90em) {
  main .flex-grid.lrg-7 > .col.lrg-span-1,
main .flex-grid.lrg-7 > li.lrg-span-1 {
    flex: 0 0 14.2857142857%;
    width: 14.2857142857%;
  }
  main .flex-grid.lrg-7 > .col.lrg-span-2,
main .flex-grid.lrg-7 > li.lrg-span-2 {
    flex: 0 0 28.5714285714%;
    width: 28.5714285714%;
  }
  main .flex-grid.lrg-7 > .col.lrg-span-3,
main .flex-grid.lrg-7 > li.lrg-span-3 {
    flex: 0 0 42.8571428571%;
    width: 42.8571428571%;
  }
  main .flex-grid.lrg-7 > .col.lrg-span-4,
main .flex-grid.lrg-7 > li.lrg-span-4 {
    flex: 0 0 57.1428571429%;
    width: 57.1428571429%;
  }
  main .flex-grid.lrg-7 > .col.lrg-span-5,
main .flex-grid.lrg-7 > li.lrg-span-5 {
    flex: 0 0 71.4285714286%;
    width: 71.4285714286%;
  }
  main .flex-grid.lrg-7 > .col.lrg-span-6,
main .flex-grid.lrg-7 > li.lrg-span-6 {
    flex: 0 0 85.7142857143%;
    width: 85.7142857143%;
  }
  main .flex-grid.lrg-7 > .col.lrg-span-7,
main .flex-grid.lrg-7 > li.lrg-span-7 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-8 > .col,
main .flex-grid.lrg-8 > li {
    flex: 0 0 12.5%;
    width: 12.5%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 90em) {
  main .flex-grid.lrg-8 > .col.lrg-span-1,
main .flex-grid.lrg-8 > li.lrg-span-1 {
    flex: 0 0 12.5%;
    width: 12.5%;
  }
  main .flex-grid.lrg-8 > .col.lrg-span-2,
main .flex-grid.lrg-8 > li.lrg-span-2 {
    flex: 0 0 25%;
    width: 25%;
  }
  main .flex-grid.lrg-8 > .col.lrg-span-3,
main .flex-grid.lrg-8 > li.lrg-span-3 {
    flex: 0 0 37.5%;
    width: 37.5%;
  }
  main .flex-grid.lrg-8 > .col.lrg-span-4,
main .flex-grid.lrg-8 > li.lrg-span-4 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.lrg-8 > .col.lrg-span-5,
main .flex-grid.lrg-8 > li.lrg-span-5 {
    flex: 0 0 62.5%;
    width: 62.5%;
  }
  main .flex-grid.lrg-8 > .col.lrg-span-6,
main .flex-grid.lrg-8 > li.lrg-span-6 {
    flex: 0 0 75%;
    width: 75%;
  }
  main .flex-grid.lrg-8 > .col.lrg-span-7,
main .flex-grid.lrg-8 > li.lrg-span-7 {
    flex: 0 0 87.5%;
    width: 87.5%;
  }
  main .flex-grid.lrg-8 > .col.lrg-span-8,
main .flex-grid.lrg-8 > li.lrg-span-8 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-9 > .col,
main .flex-grid.lrg-9 > li {
    flex: 0 0 11.1111111111%;
    width: 11.1111111111%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 90em) {
  main .flex-grid.lrg-9 > .col.lrg-span-1,
main .flex-grid.lrg-9 > li.lrg-span-1 {
    flex: 0 0 11.1111111111%;
    width: 11.1111111111%;
  }
  main .flex-grid.lrg-9 > .col.lrg-span-2,
main .flex-grid.lrg-9 > li.lrg-span-2 {
    flex: 0 0 22.2222222222%;
    width: 22.2222222222%;
  }
  main .flex-grid.lrg-9 > .col.lrg-span-3,
main .flex-grid.lrg-9 > li.lrg-span-3 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.lrg-9 > .col.lrg-span-4,
main .flex-grid.lrg-9 > li.lrg-span-4 {
    flex: 0 0 44.4444444444%;
    width: 44.4444444444%;
  }
  main .flex-grid.lrg-9 > .col.lrg-span-5,
main .flex-grid.lrg-9 > li.lrg-span-5 {
    flex: 0 0 55.5555555556%;
    width: 55.5555555556%;
  }
  main .flex-grid.lrg-9 > .col.lrg-span-6,
main .flex-grid.lrg-9 > li.lrg-span-6 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.lrg-9 > .col.lrg-span-7,
main .flex-grid.lrg-9 > li.lrg-span-7 {
    flex: 0 0 77.7777777778%;
    width: 77.7777777778%;
  }
  main .flex-grid.lrg-9 > .col.lrg-span-8,
main .flex-grid.lrg-9 > li.lrg-span-8 {
    flex: 0 0 88.8888888889%;
    width: 88.8888888889%;
  }
  main .flex-grid.lrg-9 > .col.lrg-span-9,
main .flex-grid.lrg-9 > li.lrg-span-9 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-10 > .col,
main .flex-grid.lrg-10 > li {
    flex: 0 0 10%;
    width: 10%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 90em) {
  main .flex-grid.lrg-10 > .col.lrg-span-1,
main .flex-grid.lrg-10 > li.lrg-span-1 {
    flex: 0 0 10%;
    width: 10%;
  }
  main .flex-grid.lrg-10 > .col.lrg-span-2,
main .flex-grid.lrg-10 > li.lrg-span-2 {
    flex: 0 0 20%;
    width: 20%;
  }
  main .flex-grid.lrg-10 > .col.lrg-span-3,
main .flex-grid.lrg-10 > li.lrg-span-3 {
    flex: 0 0 30%;
    width: 30%;
  }
  main .flex-grid.lrg-10 > .col.lrg-span-4,
main .flex-grid.lrg-10 > li.lrg-span-4 {
    flex: 0 0 40%;
    width: 40%;
  }
  main .flex-grid.lrg-10 > .col.lrg-span-5,
main .flex-grid.lrg-10 > li.lrg-span-5 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.lrg-10 > .col.lrg-span-6,
main .flex-grid.lrg-10 > li.lrg-span-6 {
    flex: 0 0 60%;
    width: 60%;
  }
  main .flex-grid.lrg-10 > .col.lrg-span-7,
main .flex-grid.lrg-10 > li.lrg-span-7 {
    flex: 0 0 70%;
    width: 70%;
  }
  main .flex-grid.lrg-10 > .col.lrg-span-8,
main .flex-grid.lrg-10 > li.lrg-span-8 {
    flex: 0 0 80%;
    width: 80%;
  }
  main .flex-grid.lrg-10 > .col.lrg-span-9,
main .flex-grid.lrg-10 > li.lrg-span-9 {
    flex: 0 0 90%;
    width: 90%;
  }
  main .flex-grid.lrg-10 > .col.lrg-span-10,
main .flex-grid.lrg-10 > li.lrg-span-10 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-centered {
    justify-content: center;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-uncentered {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-collapse > .col,
main .flex-grid.lrg-collapse > li {
    padding: 0;
  }
}
@media only screen and (min-width: 40em) {
  main .flex-grid.lrg-uncollapse > .col,
main .flex-grid.lrg-uncollapse > li {
    padding: 15px;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid > .col,
main .flex-grid > li {
    padding: 15px;
  }
  main .flex-grid.xlrg-1 > .col,
main .flex-grid.xlrg-1 > li {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 120em) {
  main .flex-grid.xlrg-1 > .col.xlrg-span-1,
main .flex-grid.xlrg-1 > li.xlrg-span-1 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-2 > .col,
main .flex-grid.xlrg-2 > li {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 120em) {
  main .flex-grid.xlrg-2 > .col.xlrg-span-1,
main .flex-grid.xlrg-2 > li.xlrg-span-1 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.xlrg-2 > .col.xlrg-span-2,
main .flex-grid.xlrg-2 > li.xlrg-span-2 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-3 > .col,
main .flex-grid.xlrg-3 > li {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 120em) {
  main .flex-grid.xlrg-3 > .col.xlrg-span-1,
main .flex-grid.xlrg-3 > li.xlrg-span-1 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.xlrg-3 > .col.xlrg-span-2,
main .flex-grid.xlrg-3 > li.xlrg-span-2 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.xlrg-3 > .col.xlrg-span-3,
main .flex-grid.xlrg-3 > li.xlrg-span-3 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-4 > .col,
main .flex-grid.xlrg-4 > li {
    flex: 0 0 25%;
    width: 25%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 120em) {
  main .flex-grid.xlrg-4 > .col.xlrg-span-1,
main .flex-grid.xlrg-4 > li.xlrg-span-1 {
    flex: 0 0 25%;
    width: 25%;
  }
  main .flex-grid.xlrg-4 > .col.xlrg-span-2,
main .flex-grid.xlrg-4 > li.xlrg-span-2 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.xlrg-4 > .col.xlrg-span-3,
main .flex-grid.xlrg-4 > li.xlrg-span-3 {
    flex: 0 0 75%;
    width: 75%;
  }
  main .flex-grid.xlrg-4 > .col.xlrg-span-4,
main .flex-grid.xlrg-4 > li.xlrg-span-4 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-5 > .col,
main .flex-grid.xlrg-5 > li {
    flex: 0 0 20%;
    width: 20%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 120em) {
  main .flex-grid.xlrg-5 > .col.xlrg-span-1,
main .flex-grid.xlrg-5 > li.xlrg-span-1 {
    flex: 0 0 20%;
    width: 20%;
  }
  main .flex-grid.xlrg-5 > .col.xlrg-span-2,
main .flex-grid.xlrg-5 > li.xlrg-span-2 {
    flex: 0 0 40%;
    width: 40%;
  }
  main .flex-grid.xlrg-5 > .col.xlrg-span-3,
main .flex-grid.xlrg-5 > li.xlrg-span-3 {
    flex: 0 0 60%;
    width: 60%;
  }
  main .flex-grid.xlrg-5 > .col.xlrg-span-4,
main .flex-grid.xlrg-5 > li.xlrg-span-4 {
    flex: 0 0 80%;
    width: 80%;
  }
  main .flex-grid.xlrg-5 > .col.xlrg-span-5,
main .flex-grid.xlrg-5 > li.xlrg-span-5 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-6 > .col,
main .flex-grid.xlrg-6 > li {
    flex: 0 0 16.6666666667%;
    width: 16.6666666667%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 120em) {
  main .flex-grid.xlrg-6 > .col.xlrg-span-1,
main .flex-grid.xlrg-6 > li.xlrg-span-1 {
    flex: 0 0 16.6666666667%;
    width: 16.6666666667%;
  }
  main .flex-grid.xlrg-6 > .col.xlrg-span-2,
main .flex-grid.xlrg-6 > li.xlrg-span-2 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.xlrg-6 > .col.xlrg-span-3,
main .flex-grid.xlrg-6 > li.xlrg-span-3 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.xlrg-6 > .col.xlrg-span-4,
main .flex-grid.xlrg-6 > li.xlrg-span-4 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.xlrg-6 > .col.xlrg-span-5,
main .flex-grid.xlrg-6 > li.xlrg-span-5 {
    flex: 0 0 83.3333333333%;
    width: 83.3333333333%;
  }
  main .flex-grid.xlrg-6 > .col.xlrg-span-6,
main .flex-grid.xlrg-6 > li.xlrg-span-6 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-7 > .col,
main .flex-grid.xlrg-7 > li {
    flex: 0 0 14.2857142857%;
    width: 14.2857142857%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 120em) {
  main .flex-grid.xlrg-7 > .col.xlrg-span-1,
main .flex-grid.xlrg-7 > li.xlrg-span-1 {
    flex: 0 0 14.2857142857%;
    width: 14.2857142857%;
  }
  main .flex-grid.xlrg-7 > .col.xlrg-span-2,
main .flex-grid.xlrg-7 > li.xlrg-span-2 {
    flex: 0 0 28.5714285714%;
    width: 28.5714285714%;
  }
  main .flex-grid.xlrg-7 > .col.xlrg-span-3,
main .flex-grid.xlrg-7 > li.xlrg-span-3 {
    flex: 0 0 42.8571428571%;
    width: 42.8571428571%;
  }
  main .flex-grid.xlrg-7 > .col.xlrg-span-4,
main .flex-grid.xlrg-7 > li.xlrg-span-4 {
    flex: 0 0 57.1428571429%;
    width: 57.1428571429%;
  }
  main .flex-grid.xlrg-7 > .col.xlrg-span-5,
main .flex-grid.xlrg-7 > li.xlrg-span-5 {
    flex: 0 0 71.4285714286%;
    width: 71.4285714286%;
  }
  main .flex-grid.xlrg-7 > .col.xlrg-span-6,
main .flex-grid.xlrg-7 > li.xlrg-span-6 {
    flex: 0 0 85.7142857143%;
    width: 85.7142857143%;
  }
  main .flex-grid.xlrg-7 > .col.xlrg-span-7,
main .flex-grid.xlrg-7 > li.xlrg-span-7 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-8 > .col,
main .flex-grid.xlrg-8 > li {
    flex: 0 0 12.5%;
    width: 12.5%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 120em) {
  main .flex-grid.xlrg-8 > .col.xlrg-span-1,
main .flex-grid.xlrg-8 > li.xlrg-span-1 {
    flex: 0 0 12.5%;
    width: 12.5%;
  }
  main .flex-grid.xlrg-8 > .col.xlrg-span-2,
main .flex-grid.xlrg-8 > li.xlrg-span-2 {
    flex: 0 0 25%;
    width: 25%;
  }
  main .flex-grid.xlrg-8 > .col.xlrg-span-3,
main .flex-grid.xlrg-8 > li.xlrg-span-3 {
    flex: 0 0 37.5%;
    width: 37.5%;
  }
  main .flex-grid.xlrg-8 > .col.xlrg-span-4,
main .flex-grid.xlrg-8 > li.xlrg-span-4 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.xlrg-8 > .col.xlrg-span-5,
main .flex-grid.xlrg-8 > li.xlrg-span-5 {
    flex: 0 0 62.5%;
    width: 62.5%;
  }
  main .flex-grid.xlrg-8 > .col.xlrg-span-6,
main .flex-grid.xlrg-8 > li.xlrg-span-6 {
    flex: 0 0 75%;
    width: 75%;
  }
  main .flex-grid.xlrg-8 > .col.xlrg-span-7,
main .flex-grid.xlrg-8 > li.xlrg-span-7 {
    flex: 0 0 87.5%;
    width: 87.5%;
  }
  main .flex-grid.xlrg-8 > .col.xlrg-span-8,
main .flex-grid.xlrg-8 > li.xlrg-span-8 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-9 > .col,
main .flex-grid.xlrg-9 > li {
    flex: 0 0 11.1111111111%;
    width: 11.1111111111%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 120em) {
  main .flex-grid.xlrg-9 > .col.xlrg-span-1,
main .flex-grid.xlrg-9 > li.xlrg-span-1 {
    flex: 0 0 11.1111111111%;
    width: 11.1111111111%;
  }
  main .flex-grid.xlrg-9 > .col.xlrg-span-2,
main .flex-grid.xlrg-9 > li.xlrg-span-2 {
    flex: 0 0 22.2222222222%;
    width: 22.2222222222%;
  }
  main .flex-grid.xlrg-9 > .col.xlrg-span-3,
main .flex-grid.xlrg-9 > li.xlrg-span-3 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.xlrg-9 > .col.xlrg-span-4,
main .flex-grid.xlrg-9 > li.xlrg-span-4 {
    flex: 0 0 44.4444444444%;
    width: 44.4444444444%;
  }
  main .flex-grid.xlrg-9 > .col.xlrg-span-5,
main .flex-grid.xlrg-9 > li.xlrg-span-5 {
    flex: 0 0 55.5555555556%;
    width: 55.5555555556%;
  }
  main .flex-grid.xlrg-9 > .col.xlrg-span-6,
main .flex-grid.xlrg-9 > li.xlrg-span-6 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.xlrg-9 > .col.xlrg-span-7,
main .flex-grid.xlrg-9 > li.xlrg-span-7 {
    flex: 0 0 77.7777777778%;
    width: 77.7777777778%;
  }
  main .flex-grid.xlrg-9 > .col.xlrg-span-8,
main .flex-grid.xlrg-9 > li.xlrg-span-8 {
    flex: 0 0 88.8888888889%;
    width: 88.8888888889%;
  }
  main .flex-grid.xlrg-9 > .col.xlrg-span-9,
main .flex-grid.xlrg-9 > li.xlrg-span-9 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-10 > .col,
main .flex-grid.xlrg-10 > li {
    flex: 0 0 10%;
    width: 10%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 120em) {
  main .flex-grid.xlrg-10 > .col.xlrg-span-1,
main .flex-grid.xlrg-10 > li.xlrg-span-1 {
    flex: 0 0 10%;
    width: 10%;
  }
  main .flex-grid.xlrg-10 > .col.xlrg-span-2,
main .flex-grid.xlrg-10 > li.xlrg-span-2 {
    flex: 0 0 20%;
    width: 20%;
  }
  main .flex-grid.xlrg-10 > .col.xlrg-span-3,
main .flex-grid.xlrg-10 > li.xlrg-span-3 {
    flex: 0 0 30%;
    width: 30%;
  }
  main .flex-grid.xlrg-10 > .col.xlrg-span-4,
main .flex-grid.xlrg-10 > li.xlrg-span-4 {
    flex: 0 0 40%;
    width: 40%;
  }
  main .flex-grid.xlrg-10 > .col.xlrg-span-5,
main .flex-grid.xlrg-10 > li.xlrg-span-5 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.xlrg-10 > .col.xlrg-span-6,
main .flex-grid.xlrg-10 > li.xlrg-span-6 {
    flex: 0 0 60%;
    width: 60%;
  }
  main .flex-grid.xlrg-10 > .col.xlrg-span-7,
main .flex-grid.xlrg-10 > li.xlrg-span-7 {
    flex: 0 0 70%;
    width: 70%;
  }
  main .flex-grid.xlrg-10 > .col.xlrg-span-8,
main .flex-grid.xlrg-10 > li.xlrg-span-8 {
    flex: 0 0 80%;
    width: 80%;
  }
  main .flex-grid.xlrg-10 > .col.xlrg-span-9,
main .flex-grid.xlrg-10 > li.xlrg-span-9 {
    flex: 0 0 90%;
    width: 90%;
  }
  main .flex-grid.xlrg-10 > .col.xlrg-span-10,
main .flex-grid.xlrg-10 > li.xlrg-span-10 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-centered {
    justify-content: center;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-uncentered {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-collapse > .col,
main .flex-grid.xlrg-collapse > li {
    padding: 0;
  }
}
@media only screen and (min-width: 64em) {
  main .flex-grid.xlrg-uncollapse > .col,
main .flex-grid.xlrg-uncollapse > li {
    padding: 15px;
  }
}
@media only screen and (min-width: 75em) {
  main .flex-grid > .col,
main .flex-grid > li {
    padding: 15px;
  }
  main .flex-grid.xxlrg-1 > .col,
main .flex-grid.xxlrg-1 > li {
    flex: 0 0 100%;
    width: 100%;
  }
  main .flex-grid.xxlrg-1 > .col.xxlrg-span-1,
main .flex-grid.xxlrg-1 > li.xxlrg-span-1 {
    flex: 0 0 100%;
    width: 100%;
  }
  main .flex-grid.xxlrg-2 > .col,
main .flex-grid.xxlrg-2 > li {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.xxlrg-2 > .col.xxlrg-span-1,
main .flex-grid.xxlrg-2 > li.xxlrg-span-1 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.xxlrg-2 > .col.xxlrg-span-2,
main .flex-grid.xxlrg-2 > li.xxlrg-span-2 {
    flex: 0 0 100%;
    width: 100%;
  }
  main .flex-grid.xxlrg-3 > .col,
main .flex-grid.xxlrg-3 > li {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.xxlrg-3 > .col.xxlrg-span-1,
main .flex-grid.xxlrg-3 > li.xxlrg-span-1 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.xxlrg-3 > .col.xxlrg-span-2,
main .flex-grid.xxlrg-3 > li.xxlrg-span-2 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.xxlrg-3 > .col.xxlrg-span-3,
main .flex-grid.xxlrg-3 > li.xxlrg-span-3 {
    flex: 0 0 100%;
    width: 100%;
  }
  main .flex-grid.xxlrg-4 > .col,
main .flex-grid.xxlrg-4 > li {
    flex: 0 0 25%;
    width: 25%;
  }
  main .flex-grid.xxlrg-4 > .col.xxlrg-span-1,
main .flex-grid.xxlrg-4 > li.xxlrg-span-1 {
    flex: 0 0 25%;
    width: 25%;
  }
  main .flex-grid.xxlrg-4 > .col.xxlrg-span-2,
main .flex-grid.xxlrg-4 > li.xxlrg-span-2 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.xxlrg-4 > .col.xxlrg-span-3,
main .flex-grid.xxlrg-4 > li.xxlrg-span-3 {
    flex: 0 0 75%;
    width: 75%;
  }
  main .flex-grid.xxlrg-4 > .col.xxlrg-span-4,
main .flex-grid.xxlrg-4 > li.xxlrg-span-4 {
    flex: 0 0 100%;
    width: 100%;
  }
  main .flex-grid.xxlrg-5 > .col,
main .flex-grid.xxlrg-5 > li {
    flex: 0 0 20%;
    width: 20%;
  }
  main .flex-grid.xxlrg-5 > .col.xxlrg-span-1,
main .flex-grid.xxlrg-5 > li.xxlrg-span-1 {
    flex: 0 0 20%;
    width: 20%;
  }
  main .flex-grid.xxlrg-5 > .col.xxlrg-span-2,
main .flex-grid.xxlrg-5 > li.xxlrg-span-2 {
    flex: 0 0 40%;
    width: 40%;
  }
  main .flex-grid.xxlrg-5 > .col.xxlrg-span-3,
main .flex-grid.xxlrg-5 > li.xxlrg-span-3 {
    flex: 0 0 60%;
    width: 60%;
  }
  main .flex-grid.xxlrg-5 > .col.xxlrg-span-4,
main .flex-grid.xxlrg-5 > li.xxlrg-span-4 {
    flex: 0 0 80%;
    width: 80%;
  }
  main .flex-grid.xxlrg-5 > .col.xxlrg-span-5,
main .flex-grid.xxlrg-5 > li.xxlrg-span-5 {
    flex: 0 0 100%;
    width: 100%;
  }
  main .flex-grid.xxlrg-6 > .col,
main .flex-grid.xxlrg-6 > li {
    flex: 0 0 16.6666666667%;
    width: 16.6666666667%;
  }
  main .flex-grid.xxlrg-6 > .col.xxlrg-span-1,
main .flex-grid.xxlrg-6 > li.xxlrg-span-1 {
    flex: 0 0 16.6666666667%;
    width: 16.6666666667%;
  }
  main .flex-grid.xxlrg-6 > .col.xxlrg-span-2,
main .flex-grid.xxlrg-6 > li.xxlrg-span-2 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.xxlrg-6 > .col.xxlrg-span-3,
main .flex-grid.xxlrg-6 > li.xxlrg-span-3 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.xxlrg-6 > .col.xxlrg-span-4,
main .flex-grid.xxlrg-6 > li.xxlrg-span-4 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.xxlrg-6 > .col.xxlrg-span-5,
main .flex-grid.xxlrg-6 > li.xxlrg-span-5 {
    flex: 0 0 83.3333333333%;
    width: 83.3333333333%;
  }
  main .flex-grid.xxlrg-6 > .col.xxlrg-span-6,
main .flex-grid.xxlrg-6 > li.xxlrg-span-6 {
    flex: 0 0 100%;
    width: 100%;
  }
  main .flex-grid.xxlrg-7 > .col,
main .flex-grid.xxlrg-7 > li {
    flex: 0 0 14.2857142857%;
    width: 14.2857142857%;
  }
  main .flex-grid.xxlrg-7 > .col.xxlrg-span-1,
main .flex-grid.xxlrg-7 > li.xxlrg-span-1 {
    flex: 0 0 14.2857142857%;
    width: 14.2857142857%;
  }
  main .flex-grid.xxlrg-7 > .col.xxlrg-span-2,
main .flex-grid.xxlrg-7 > li.xxlrg-span-2 {
    flex: 0 0 28.5714285714%;
    width: 28.5714285714%;
  }
  main .flex-grid.xxlrg-7 > .col.xxlrg-span-3,
main .flex-grid.xxlrg-7 > li.xxlrg-span-3 {
    flex: 0 0 42.8571428571%;
    width: 42.8571428571%;
  }
  main .flex-grid.xxlrg-7 > .col.xxlrg-span-4,
main .flex-grid.xxlrg-7 > li.xxlrg-span-4 {
    flex: 0 0 57.1428571429%;
    width: 57.1428571429%;
  }
  main .flex-grid.xxlrg-7 > .col.xxlrg-span-5,
main .flex-grid.xxlrg-7 > li.xxlrg-span-5 {
    flex: 0 0 71.4285714286%;
    width: 71.4285714286%;
  }
  main .flex-grid.xxlrg-7 > .col.xxlrg-span-6,
main .flex-grid.xxlrg-7 > li.xxlrg-span-6 {
    flex: 0 0 85.7142857143%;
    width: 85.7142857143%;
  }
  main .flex-grid.xxlrg-7 > .col.xxlrg-span-7,
main .flex-grid.xxlrg-7 > li.xxlrg-span-7 {
    flex: 0 0 100%;
    width: 100%;
  }
  main .flex-grid.xxlrg-8 > .col,
main .flex-grid.xxlrg-8 > li {
    flex: 0 0 12.5%;
    width: 12.5%;
  }
  main .flex-grid.xxlrg-8 > .col.xxlrg-span-1,
main .flex-grid.xxlrg-8 > li.xxlrg-span-1 {
    flex: 0 0 12.5%;
    width: 12.5%;
  }
  main .flex-grid.xxlrg-8 > .col.xxlrg-span-2,
main .flex-grid.xxlrg-8 > li.xxlrg-span-2 {
    flex: 0 0 25%;
    width: 25%;
  }
  main .flex-grid.xxlrg-8 > .col.xxlrg-span-3,
main .flex-grid.xxlrg-8 > li.xxlrg-span-3 {
    flex: 0 0 37.5%;
    width: 37.5%;
  }
  main .flex-grid.xxlrg-8 > .col.xxlrg-span-4,
main .flex-grid.xxlrg-8 > li.xxlrg-span-4 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.xxlrg-8 > .col.xxlrg-span-5,
main .flex-grid.xxlrg-8 > li.xxlrg-span-5 {
    flex: 0 0 62.5%;
    width: 62.5%;
  }
  main .flex-grid.xxlrg-8 > .col.xxlrg-span-6,
main .flex-grid.xxlrg-8 > li.xxlrg-span-6 {
    flex: 0 0 75%;
    width: 75%;
  }
  main .flex-grid.xxlrg-8 > .col.xxlrg-span-7,
main .flex-grid.xxlrg-8 > li.xxlrg-span-7 {
    flex: 0 0 87.5%;
    width: 87.5%;
  }
  main .flex-grid.xxlrg-8 > .col.xxlrg-span-8,
main .flex-grid.xxlrg-8 > li.xxlrg-span-8 {
    flex: 0 0 100%;
    width: 100%;
  }
  main .flex-grid.xxlrg-9 > .col,
main .flex-grid.xxlrg-9 > li {
    flex: 0 0 11.1111111111%;
    width: 11.1111111111%;
  }
  main .flex-grid.xxlrg-9 > .col.xxlrg-span-1,
main .flex-grid.xxlrg-9 > li.xxlrg-span-1 {
    flex: 0 0 11.1111111111%;
    width: 11.1111111111%;
  }
  main .flex-grid.xxlrg-9 > .col.xxlrg-span-2,
main .flex-grid.xxlrg-9 > li.xxlrg-span-2 {
    flex: 0 0 22.2222222222%;
    width: 22.2222222222%;
  }
  main .flex-grid.xxlrg-9 > .col.xxlrg-span-3,
main .flex-grid.xxlrg-9 > li.xxlrg-span-3 {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
  }
  main .flex-grid.xxlrg-9 > .col.xxlrg-span-4,
main .flex-grid.xxlrg-9 > li.xxlrg-span-4 {
    flex: 0 0 44.4444444444%;
    width: 44.4444444444%;
  }
  main .flex-grid.xxlrg-9 > .col.xxlrg-span-5,
main .flex-grid.xxlrg-9 > li.xxlrg-span-5 {
    flex: 0 0 55.5555555556%;
    width: 55.5555555556%;
  }
  main .flex-grid.xxlrg-9 > .col.xxlrg-span-6,
main .flex-grid.xxlrg-9 > li.xxlrg-span-6 {
    flex: 0 0 66.6666666667%;
    width: 66.6666666667%;
  }
  main .flex-grid.xxlrg-9 > .col.xxlrg-span-7,
main .flex-grid.xxlrg-9 > li.xxlrg-span-7 {
    flex: 0 0 77.7777777778%;
    width: 77.7777777778%;
  }
  main .flex-grid.xxlrg-9 > .col.xxlrg-span-8,
main .flex-grid.xxlrg-9 > li.xxlrg-span-8 {
    flex: 0 0 88.8888888889%;
    width: 88.8888888889%;
  }
  main .flex-grid.xxlrg-9 > .col.xxlrg-span-9,
main .flex-grid.xxlrg-9 > li.xxlrg-span-9 {
    flex: 0 0 100%;
    width: 100%;
  }
  main .flex-grid.xxlrg-10 > .col,
main .flex-grid.xxlrg-10 > li {
    flex: 0 0 10%;
    width: 10%;
  }
  main .flex-grid.xxlrg-10 > .col.xxlrg-span-1,
main .flex-grid.xxlrg-10 > li.xxlrg-span-1 {
    flex: 0 0 10%;
    width: 10%;
  }
  main .flex-grid.xxlrg-10 > .col.xxlrg-span-2,
main .flex-grid.xxlrg-10 > li.xxlrg-span-2 {
    flex: 0 0 20%;
    width: 20%;
  }
  main .flex-grid.xxlrg-10 > .col.xxlrg-span-3,
main .flex-grid.xxlrg-10 > li.xxlrg-span-3 {
    flex: 0 0 30%;
    width: 30%;
  }
  main .flex-grid.xxlrg-10 > .col.xxlrg-span-4,
main .flex-grid.xxlrg-10 > li.xxlrg-span-4 {
    flex: 0 0 40%;
    width: 40%;
  }
  main .flex-grid.xxlrg-10 > .col.xxlrg-span-5,
main .flex-grid.xxlrg-10 > li.xxlrg-span-5 {
    flex: 0 0 50%;
    width: 50%;
  }
  main .flex-grid.xxlrg-10 > .col.xxlrg-span-6,
main .flex-grid.xxlrg-10 > li.xxlrg-span-6 {
    flex: 0 0 60%;
    width: 60%;
  }
  main .flex-grid.xxlrg-10 > .col.xxlrg-span-7,
main .flex-grid.xxlrg-10 > li.xxlrg-span-7 {
    flex: 0 0 70%;
    width: 70%;
  }
  main .flex-grid.xxlrg-10 > .col.xxlrg-span-8,
main .flex-grid.xxlrg-10 > li.xxlrg-span-8 {
    flex: 0 0 80%;
    width: 80%;
  }
  main .flex-grid.xxlrg-10 > .col.xxlrg-span-9,
main .flex-grid.xxlrg-10 > li.xxlrg-span-9 {
    flex: 0 0 90%;
    width: 90%;
  }
  main .flex-grid.xxlrg-10 > .col.xxlrg-span-10,
main .flex-grid.xxlrg-10 > li.xxlrg-span-10 {
    flex: 0 0 100%;
    width: 100%;
  }
  main .flex-grid.xxlrg-centered {
    justify-content: center;
  }
  main .flex-grid.xxlrg-uncentered {
    justify-content: flex-start;
  }
  main .flex-grid.xxlrg-collapse > .col,
main .flex-grid.xxlrg-collapse > li {
    padding: 0;
  }
  main .flex-grid.xxlrg-uncollapse > .col,
main .flex-grid.xxlrg-uncollapse > li {
    padding: 15px;
  }
}
main ul.flex-grid {
  margin-left: 0 !important;
  margin-right: 0 !important;
  list-style: none;
}

/*# sourceMappingURL=flex-grid-b.css.map */
