.fs-accordion {
  &__item {
    background-color: #e6e6e6;
    margin-bottom: 15px;
    &.is-active .fs-accordion__content{
      display: flex;
    }
  }
  &__title {
    display: flex;
    & h3 {
      display: inline-block;
      color: wsu-palette($wcpurp-colors, 1);
      padding: 0.5em 1em;
      margin-bottom: 0;
      font-family: $font-tg;
    }
  }
  &--icon {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
  }
  &--letter {
    display: flex;
    width: 90px;
    justify-content: center;
    align-items: center;
    /*background-color: coral;*/
    font-size: 2.3em;
    color: #FFF;
    font-family: $font-tgbe;
  }
  &__content {
      background-color: inherit;
    &__spacer {
      min-width: 90px;
      @media #{$target-tablet-under} {
        display: none;
      }
    }
    &__body {
      display: block;
      padding-right: 60px;
      @media #{$target-tablet-under} {
        padding-right: 0;
      }
    }
  }
}

.accordion-title.fs-accordion__title {
  padding: 0;
  display: flex;
  &:hover {
    padding: 0;
    display: flex;
  }
}

.parking-permit-accordion, .parking-faq-accordion {
  padding: 1em 1.5em;
}