.fs-accordion {
  &__item {
    background-color: #e6e6e6;
    margin-bottom: 15px;
    &.is-active .fs-accordion__content{
      display: flex;
    }
  }
  &__title {
    display: flex;
    & h3 {
      display: inline-block;
      color: wsu-palette($wcpurp-colors, 1);
      padding: 0.5em 1em;
      margin-bottom: 0;
    }
  }
  &--icon {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
  }
  &--letter {
    display: flex;
    width: 90px;
    justify-content: center;
    align-items: center;
    background-color: coral;
    font-size: 3em;
    color: #FFF;
  }
  &__content {
      background-color: inherit;
    &__spacer {
      width: 90px;
    }
    &__body {
      display: block;
    }
  }
}

.accordion-title.fs-accordion__title {
  padding: 0;
  display: flex;
  &:hover {
    padding: 0;
    display: flex;
  }
}