.fs-icon-menu {
  & ul {
    list-style-type: none;
  }
  &__grid--three-across {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    grid-column-gap: 100px;
    grid-row-gap: 2.5em;
    justify-content: center;
    margin: 0 auto;

    &__item {
    }
  }

  &__grid--four-across {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-column-gap: 80px;
    grid-row-gap: 2.5em;
    justify-content: center;
    margin: 0 auto;

    &__item {
    }
  }
}