@import "ui-utilities-master/variables";
@import "ui-utilities-master/placeholders";
@import "ui-utilities-master/functions";
@import "ui-utilities-master/mixins";

@import "pages/home/home.scss";
@import "fs-modules/fs-call-strip/fs-call-strip";
@import "pages/about/about.scss";
@import "fs-modules/fs-contact-strip/contact-strip.scss";
@import "fs-modules/fs-icon-menu-grid/fs-icon-menu-grid.scss";

.showcase-html-section {
  box-shadow: none;
}

.card-personnel__content--dark > * a, .fancy-link-white{
  color: #FFF !important;
  border-bottom: 1px solid #FFF;
  text-decoration: none !important;
  &:hover, &:focus {
    border-bottom: 3px solid #FFF !important;
    font-weight: bold;
  }
}